/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/tests/Coverage
/tests/EndToEnd/**/*.html
/tests/EndToEnd/**/output.xml
/tests/EndToEnd/**/*.png
/vendor
/.vscode
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
