*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.eslintrc-auto-import.mjs
.phpunit.result.cache
/.codex
/.cursor/
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/hot
/public/storage
/resources/lang/php_*.json
/storage/*.key
/storage/**/.env*
/storage/pail
/tests/Coverage
/tests/EndToEnd/**/*.html
/tests/EndToEnd/**/*.png
/tests/EndToEnd/**/output.xml
/vendor
auto-imports.d.ts
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log